name: icon_decoration
description: Add decoration capabilities to the Icon widget with borders and gradients.
version: 2.1.0
homepage: https://github.com/TesteurManiak/icon_decoration
repository: https://github.com/TesteurManiak/icon_decoration
issue_tracker: https://github.com/TesteurManiak/icon_decoration/issues

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  alchemist: ^0.10.0
  fd_lints: ^2.3.0
  flutter_test:
    sdk: flutter
  meta: ^1.15.0

flutter:
  uses-material-design: true
  # Used for readable platform golden tests.
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto/Roboto-Thin.ttf
          weight: 100
        - asset: assets/fonts/Roboto/Roboto-Light.ttf
          weight: 300
        - asset: assets/fonts/Roboto/Roboto-Regular.ttf
          weight: 400
        - asset: assets/fonts/Roboto/Roboto-Medium.ttf
          weight: 500
        - asset: assets/fonts/Roboto/Roboto-Bold.ttf
          weight: 700
        - asset: assets/fonts/Roboto/Roboto-Black.ttf
          weight: 900
